body {
	background-color: #222222;
	color: #FFFFFF;
	font-family: Verdana;
}

.title {
	font-size: 48px;
	font-weight: strong;
	width: 100%;
	text-align: center;
	margin-bottom: 50px;
}

.error {
	color: #FF0000;
}

a:link {
	color: #33CCCC;
}
a:visited {
	color: #CC99FF;
}
